* {
    font-size: 10px;
}

body { 
    padding-top: 20px; 
    background-color: #f1f1f1;
}

.container, .container-fluid {
position: relative;
}

/* .row, #mainTable, .section {
border: 1px solid red;
} */

#mainTable {
    border: 1px solid #ccc;
    background-color: white;
}

.table-1 {
    padding-top: 10px;
}

.table2 {
    overflow: hidden;
}

.section {
    padding-top: 10px;
    padding-bottom: 10px;
}

th {
    font-size: 10px;
}

.modal-style {
    border: 1px solid #ccc;
    z-index: 1;
    height: 400px;
    position: absolute;
    background-color: white;
    /* overflow: hidden; */
    /* padding-left: -100x; */
    display: block;
    /* width: 50%; */
    top: 40px;
    left: 60px;
}

.modal-table {
    border: 1px solid #ccc;
    background-color: rgb(250, 245, 245);
    height: 80%;
}

textarea {
    height: 80%;
}

.x-button {
    font-size: 16px;
    padding-top: 4px;
    cursor: pointer;
}
.x-button:hover {
    font-weight: bold;
}

.origin-information {
    text-transform: capitalize;
}

/* table.buttons('.buttonsToHide').nodes().css("display", "none"); */
/* .buttonsToHide { 
   visibility: hidden;
} */